<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARQuant Generate</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .visible{
            display: block!important;
        }
        body{
            overflow: hidden;
        }
        #spinner{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0,0,0,.4);
            z-index: 99;
            visibility: hidden;
        }
        #spinner > div{
            
            width: 80px;
            height: 80px;

            border: 2px solid #f3f3f3;
            border-top:3px solid #f25a41;
            border-radius: 100%;

            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right: 0;
            margin: auto;
            z-index: 9999;

            animation: spin 1s infinite linear;
        }

        @keyframes spin {
        from {
            transform: rotate(0deg);
        } to {
            transform: rotate(360deg);
        }
        }

        #spinner.show {
            visibility: visible;
        }
    </style>
</head>
<body>

    <div class="container" id="app">
        <div id="spinner">
            <div></div>
        </div> 
        <div class="row">
          <div class="col align-self-start">
            
          </div>
          <div class="col col-12 align-self-center">
            <br>
            <br>
            <h1>ARQuant Presentation Data Generate - 1</h1>
            <br>
            <br>
            <!-- Login form -->
            <div v-if="user">
                <form action="/upload" method="post" enctype="multipart/form-data" id="form" @submit.prevent="upload">

                    <div class="input-group mb-6">
                        <input type="file" class="form-control" name="filedata" multiple id="filedata">
                        <label class="input-group-text" for="filedata">Upload</label>
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Send Files" class="btn btn-primary" />
                </form>
                <br>
                <br>
                <div>
                    <div class="btn btn-primary" style="margin-right: 25px;" @click="generate">Generate new version</div>
                    <a class="btn btn-primary" href="/ARQuant_Presentation.pdf" target="_blank" id="download">Download Presentation</a>
                </div>
            </div>
            <div v-else>
                <form @submit.prevent="signIn">
                    <div class="mb-3">
                        <label for="loginInput" class="form-label">Login</label>
                        <input type="text" name="login" class="form-control" id="loginInput" aria-describedby="login" v-model="login">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" v-model="password">
                    </div>
                    <div id="login-error" style="display: none;">
                        <div class="alert alert-danger" role="alert">
                            Wrong login \ password!
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>

                
            </div>
           
           
            <!-- ./Form -->
          </div>
          <div class="col align-self-end">
            
          </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col col-12">
                <div class="alert alert-success" id="files" style="display: none;" role="alert">
                    Files updated.
                </div>
                <div class="alert alert-success" id="success" style="display: none;" role="alert">
                    Presentation updated.
                </div>
                <div class="alert alert-danger" id="danger" style="display: none;" role="alert">
                    Something went wrong... Try again
                </div>
            </div>
        </div>
      </div>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {

            const app = Vue.createApp({
                data() {
                    return {
                        user: null,
                        login: '',
                        password: ''
                    }
                },
                mounted(){
                    console.log('Run');
                },
                computed: {
                },
                methods: {
                    signIn(e) {
                        const loginFormData = {
                            username: this.login,
                            password: this.password
                        };
                        this.postData('/authenticate', loginFormData, this.user, 'login')
                        .then(data => {
                            console.log(data); // JSON data parsed by `data.json()` call
                            if(data.message === 'done'){
                                this.user = data.token; 
                            }else{
                                document.getElementById('login-error').classList.add('visible');
                                setTimeout(() => {
                                    document.getElementById('login-error').classList.remove('visible');
                                }, 4000);
                            }
                        });
                    },
                    upload(e) {
                        const form = document.getElementById('form');
                        const formData = new FormData(form);
                        const token = this.user;
                        fetch('/api/upload', {
                            method: 'post',
                            headers: {
                                'access-token': token,
                            },
                            body: formData,
                        })
                        .then(data => {
                            console.log(data);
                            document.getElementById('files').style.display = 'flex';
                            setTimeout(() => {
                                document.getElementById('files').style.display = 'none';
                            }, 3000);
                        });

                    },
                    postData: async(url = '', data = {}, token, type) => {
                        let sendData;
                        if(type === 'login'){
                            sendData = JSON.stringify(data);
                        }else{
                            sendData = data;
                        }
                        // Default options are marked with *
                        console.warn(`Token: ${token}`);
                        const response = await fetch(url, {
                            method: 'POST', // *GET, POST, PUT, DELETE, etc.
                            mode: 'cors', // no-cors, *cors, same-origin
                            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                            credentials: 'same-origin', // include, *same-origin, omit
                            headers: {
                            'Content-Type': 'application/json',
                            'access-token': token,
                            // 'Content-Type': 'application/x-www-form-urlencoded',
                            },
                            redirect: 'follow', // manual, *follow, error
                            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                            body: sendData // body data type must match "Content-Type" header
                        });
                        return response.json(); // parses JSON response into native JavaScript objects
                    },
                    generate() {
                        
                        const token = this.user;
                        console.log(`Token: ${token}`);

                        const spinner = document.getElementById("spinner");
                        spinner.className = "show";

                        fetch('/api/generate', {
                            method: 'get',
                            headers: {
                                'access-token': token,
                            },
                        })
                        .then(data => {
                            console.log(data);
                        });

                        setTimeout(() => {
                            document.getElementById('success').style.display = 'flex';
                            document.getElementById('download').classList.add('btn-success');
                            spinner.className = spinner.className.replace("show", "");
                        }, 60000);
                    }
                },
            });
            app.mount('#app');


            // document.getElementById('form').addEventListener('submit', (e) => {
            //     e.preventDefault();
            //     const form = document.getElementById('form');
            //     const formData = new FormData(form);

            //     fetch('/upload', {
            //         method: 'post',
            //         body: formData,
            //     })
            //     .then(data => {
            //         console.log(data);
            //         document.getElementById('success').style.display = 'flex';
            //     });
            // });

        });
    </script>
</body>
</html>