@font-face {
  font-family: "Avenir Next Cyr Bold";
  src: url(fonts/AvenirNextCyr-Bold.woff) format("woff"),
    url(fonts/AvenirNextCyr-Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr Regular";
  src: url(fonts/AvenirNextCyr-Regular.woff) format("woff"),
    url(fonts/AvenirNextCyr-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Bold Italic"),
    local("AvenirNextCyr-BoldItalic"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-Light.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Light"),
    local("AvenirNextCyr-Light"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Light.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Light.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Demi"),
    local("AvenirNextCyr-Demi"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Demi.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Thin Italic"),
    local("AvenirNextCyr-ThinItalic"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-ThinItalic.ttf) format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-Italic.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Italic"),
    local("AvenirNextCyr-Italic"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Italic.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Italic.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Heavy Italic"),
    local("AvenirNextCyr-HeavyItalic"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-HeavyItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Medium Italic"),
    local("AvenirNextCyr-MediumItalic"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.eot);
  src: local(
      "fonts/AvenirNextCyr/fonts/AvenirNextCyr/Avenir Next Cyr Light Italic"
    ),
    local("AvenirNextCyr-LightItalic"),
    url(fonts/AvenirNextCyr/fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.woff)
      format("woff"),
    url(fonts/AvenirNextCyr/fonts/AvenirNextCyr/AvenirNextCyr-LightItalic.ttf)
      format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Medium"),
    local("AvenirNextCyr-Medium"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr Ultra";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Ultra Light Italic"),
    local("AvenirNextCyr-UltraLightIt"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-UltraLightIt.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Regular"),
    local("AvenirNextCyr-Regular"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr Ultra";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Ultra Light"),
    local("AvenirNextCyr-UltraLight"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-UltraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-Heavy.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Heavy"),
    local("AvenirNextCyr-Heavy"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Heavy.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Heavy.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Heavy.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Bold"),
    local("AvenirNextCyr-Bold"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Demi Italic"),
    local("AvenirNextCyr-DemiItalic"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-DemiItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Avenir Next Cyr";
  src: url(fonts/AvenirNextCyr/AvenirNextCyr-Thin.eot);
  src: local("fonts/AvenirNextCyr/Avenir Next Cyr Thin"),
    local("AvenirNextCyr-Thin"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Thin.eot?#iefix)
      format("embedded-opentype"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Thin.woff) format("woff"),
    url(fonts/AvenirNextCyr/AvenirNextCyr-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
:root {
  --basic-color: #000000;
  --red: #fa0000;
  --light-red: #ec543f;
  --white: #ffffff;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
html {
  scroll-behavior: smooth;
  -webkit-print-color-adjust: exact;
}
body {
  margin: 0;
  font-family: "Avenir Next Cyr Regular", sans-serif;
  font-size: 14pt;
  line-height: 1.4;
  color: #000;
  letter-spacing: 0.7px;
}
a {
  color: inherit;
  text-decoration: none !important;
}
img,
video {
  max-width: 100%;
}
.c_container {
  padding-left: 2.8rem;
  padding-right: 4rem;
}
@media screen and (max-width: 992px) {
  .c_container {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}
section.slide {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.slide,
.slide__title {
  position: relative;
}
.slide__title {
  font-size: 49pt;
  padding-top: 20px;
  z-index: 5;
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: 500;
}
.slide__logo {
  position: absolute;
  top: 30px;
  right: 30px;
  max-width: 320px;
  z-index: 5;
}
.slide__content {
  position: relative;
  z-index: 5;
  padding-top: 30px;
  padding-right: 19%;
  flex: 1;
  font-weight: 600;
}
.slide-4 .slide__content,
.slide-5 .slide__content {
  padding-right: 22%;
}
.slide__aside {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  max-height: 100%;
  min-height: 100%;
}
.slide__number {
  position: absolute;
  bottom: 40px;
  z-index: 5;
  right: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.image__head,
.slide__number span {
  font-size: 21pt;
}
.slide__number div {
  font-size: 9pt;
  margin-left: 40px;
  letter-spacing: 0.8px;
}
.image__head {
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: 700;
}
.image__head span {
  color: #aeb0b2;
  font-size: 15pt;
  transform: translateY(-50%);
  display: inline-block;
}
.hero {
  background-image: url(./images/image1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  position: relative;
}
.hero__logo,
.hero__tagline {
  display: flex;
  justify-content: center;
}
.hero__logo {
  flex: 1;
  align-items: center;
}
.hero__tagline {
  flex-direction: column;
  padding-bottom: 20px;
  font-weight: 600;
  width: 30%;
  margin: 0 auto;
  align-items: flex-start;
}
.hero__date {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-weight: 600;
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead {
  background-color: #e59c80;
  background: #e59c80;
  background-image: radial-gradient(#e59c80, #e59c80);
}
thead th {
  padding: 3px 10px;
  text-align: left;
}
tbody tr:nth-child(odd) {
  background-color: #d2d2d2;
  background: #d2d2d2;
}
tbody tr:last-child {
  background-color: #e59c80;
  background: #e59c80;
  color: #e59c80;
}
tbody td {
  padding: 3px 10px;
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: 500;
  font-size: 9pt;
}
tbody td:first-child {
  font-family: "Avenir Next Cyr", sans-serif;
  font-weight: 700;
  width: 30%;
}
.slide-1 .slide__content {
  font-weight: 600;
}
.slide-1__list li {
  margin-bottom: 20px;
}
.slide-1__strategy {
  border-top: 1px solid;
  padding-top: 15px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 21pt;
  padding-right: 10%;
}
.slide-1__bottom ul li,
.slide-1__strategy,
.slide-1__strategy > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slide-1__strategy > div {
  flex: 1;
  padding-left: 4%;
}
.slide-1__strategy > span,
.slide-6__dot span,
.slide-7__dot span {
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 50%;
  background-color: #000;
}
.slide-1__bottom {
  padding-top: 30px;
  position: relative;
}
.slide-1__bottom ul {
  list-style: none;
  padding-left: 110px;
  padding-right: 10%;
}
.slide-1__bottom ul li {
  font-size: 12pt;
  margin-bottom: 10px;
}
.slide-1__source {
  font-size: 9pt;
  padding-left: 110px;
  padding-top: 20px;
}
.slide-1__transform {
  position: absolute;
  left: 0;
  bottom: 70px;
  transform: rotate(-90deg);
  font-size: 8pt;
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.member {
  display: flex;
  margin-top: 16px;
}
.member__photo {
  width: 20%;
}
.member__bio {
  width: 80%;
  padding-left: 40px;
}
.member__name {
  font-size: 21pt;
  margin-bottom: 22px;
}
.member__history {
  font-size: 11pt;
}
.member__history p {
  margin-bottom: 0;
  margin-top: 0;
}
.slide-3 {
  font-size: 16pt;
}
.slide-3__p-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}
.slide-3__p-2,
.slide-3__p-3 {
  padding-left: 10%;
  margin-bottom: 30px;
}
.slide-3__p-3 {
  margin-bottom: 70px;
}
.slide-6__dot {
  width: 12%;
  padding-top: 12%;
}
.slide-6__table {
  width: 88%;
  padding-right: 7%;
}
.slide-6__content {
  display: flex;
  justify-content: space-between;
}
.slide-7__content {
  padding-top: 170px;
}
.slide-7__dot {
  width: 12%;
  padding-top: 12%;
}
.slide-7__table {
  width: 88%;
  padding-left: 7%;
  padding-right: 7%;
}
.slide-7__content {
  display: flex;
  justify-content: space-between;
}
.slide-8 .slide__content {
  padding-right: 25%;
}
.line {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid;
  padding-top: 15px;
  margin-top: 10px;
  font-size: 14pt;
}
.line__name {
  width: 40%;
}
.line-content .line__col,
.line-content .line__name {
  margin-bottom: 20px;
}
.line__col {
  width: 30%;
}
.accent {
  margin-top: 20px;
  width: 100%;
}
.accent > div:nth-child(2) {
  font-size: 12pt;
}
.return {
  margin-top: 30px;
  border-top: 1px solid;
  padding-top: 10px;
}
.return__head {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.return__head span {
  display: flex;
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
}
.return__head > div {
  font-size: 21pt;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.return__head > div > div:nth-child(2) {
  font-size: 12pt;
  margin-left: 30px;
}
.return__table {
  font-size: 12pt;
}
.return__table tbody td:first-child {
  width: initial;
}
.return__table thead tr td {
  padding: 3px 10px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-left: 10%;
  font-size: 21pt;
}
.grid__cell {
  width: 50%;
  margin-top: 45px;
}
.slide-10 .slide__content p {
  font-size: 10pt;
  text-align: justify;
}
.slide-10 .slide__content {
  padding-right: 23%;
}
.page {
  width: 29.7cm;
  min-height: 21cm;
  max-height: 21cm !important;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
  padding: 1cm;
  border: 5px red solid;
  height: 256mm;
  outline: 2cm #ffeaea solid;
}
@media print {
  .slide__logo {
    max-width: 250px;
  }
  .slide-1__bottom {
    padding-top: 0;
  }
  .slide__content {
    padding-top: 10px;
  }
  .member__photo {
    width: 15%;
  }
  .member__bio {
    width: 85%;
    padding-right: 7%;
  }
  .slide__number div {
    margin-left: 20px;
  }
  .slide-3 {
    font-size: 15pt;
  }
  .slide-3__p-1 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .slide-3__p-2,
  .slide-3__p-3 {
    padding-left: 10%;
    margin-bottom: 15px;
  }
  .slide-3__p-3 {
    margin-bottom: 35px;
  }
  .grid {
    padding-left: 0;
  }
  .slide-10 .slide__content p {
    font-size: 9pt;
  }
  table {
    font-size: 12pt;
  }
  .return__head {
    margin-bottom: 0;
  }
  .return__table {
    padding-right: 8%;
  }
  .line {
    padding-top: 8px;
    margin-top: 4px;
  }
  .slide-8 {
    font-size: 13pt;
  }
  .slide__number {
    right: 4.5%;
    transform: translateX(-3px);
  }
  .slide-7__content {
    padding-top: 0;
    height: 100%;
    align-items: center;
  }
  .return__table {
    width: 85%;
    font-size: 11pt;
  }
  .return__table thead tr td,
  tbody td {
    padding: 3px 8px;
  }
  .hero__tagline {
    width: 100%;
    padding-left: 33%;
  }
  .slide__logo {
    right: 45px;
  }
  .member.alexander .member__photo {
    max-width: 13.65%;
  }
  .slide-2 .slide__content {
    padding-right: 5%;
  }
  .member.andrew,
  .member.dmitry {
    padding-right: 9%;
  }
  .slide-4 .slide__content,
  .slide-5 .slide__content,
  .slide-6 .slide__content {
    padding-top: 30px;
  }
  .slide-7__dot {
    transform: translateY(-80px);
  }
  .slide-7__table {
    transform: translateY(-60px);
  }
  .slide-10 .slide__content p{
    line-height: 1.38;
    margin-right: 7px;
    font-size: 8.3pt;
  }
}
